<!DOCTYPE html>
<html>
  <head>
    <title>SCPF IRC Logger</title>
    <style>
      body {
        font-family: Verdana, "Lucida Grande", "Helvetica", "Arial", sans-serif;
        font-size: 14px;
        line-height: 18px;
      }

      #content {
        width: 800px;
        padding: 7px;
        margin: 15px auto 10px auto;
      }

      #footer {
        margin: 20px auto 5px auto;
        text-align: right;
        font-size: 90%;
        color: #aaa;
      }

      h1 {
        text-align: center;
        font-weight: normal;
        font-size: 150%;
      }

      h1 a {
        color: #666;
        text-decoration: none;
      }

      h1 a:hover {
        color: #a66;
      }

      .message {
        clear: both;
        padding-bottom: 10px;
        padding-top: 10px;
      }

      .info {
        display: inline;
        float: left;
        margin: 0px 1% 0px 0px;
        text-align: right;
        word-wrap: break-word;
        width: 14%;
      }

      .text {
        display: inline;
        position: relative;
        width: 84%;
        float: right;
      }

      .message-link {
        color: #aaa;
        font-size: 90%;
        text-decoration: none;
      }

      .settings {
        text-align: center;
        margin-bottom: 20px;
      }

      .left {
        display: inline;
        float: left;
      }

      .right {
        display: inline;
        float: right;
      }

      .clear {
        display: outline;
        clear: both;
      }

      .settings, .settings a {
        color: #999;
      }
      .settings a:hover {
        color: #900;
      }
    </style>
  </head>
  <body>
    <div id="content">
      <%= yield %>
      <div id="footer">
        SCP Foundation Network
      </div>
    </div>
  </body>
</html>
